<footer class="footer" style="background-image: url('assets/img/bg-footer.jpg')">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-phone"></i> Call</h4>
                    <p><a href="tel:316-978-5331">316-978-5331</a>
                    </p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-map-marker"></i> Visit</h4>
                    <p><a href="https://www.google.com/maps/place/Ennovar/@37.7180375,-97.2950639,18z/data=!4m8!1m2!2m1!1sennovar!3m4!1s0x87bae2e691400001:0x627b5cfa225891bf!8m2!3d37.7177616!4d-97.291337">1845 Fairmount, Beggs Hall B215
                    <br>Wichita, KS 67260</a></p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4><i class="fa fa-envelope"></i> Email</h4>
                    <p><a href="mailto:ENNOVAR@WICHITA.EDU">ENNOVAR@WICHITA.EDU</a>
                    </p>
                </div>
            </div>
            <div class="row social">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="https://www.facebook.com/ennovar/"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="https://twitter.com/EnnovarWSU"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/school/10622591/"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="mt">COPYRIGHT <script>document.write(new Date().getFullYear())</script> - Ennovar at Wichita State University</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Core Scripts -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- Plugin Scripts -->
    <script src="assets/js/plugins/jquery.easing.min.js"></script>
    <script src="assets/js/plugins/classie.js"></script>
    <script src="assets/js/plugins/cbpAnimatedHeader.js"></script>
    <script src="assets/js/plugins/owl-carousel/owl.carousel.js"></script>
    <script src="assets/js/plugins/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/plugins/background/core.js"></script>
    <script src="assets/js/plugins/background/transition.js"></script>
    <script src="assets/js/plugins/background/background.js"></script>
    <script src="assets/js/plugins/jquery.mixitup.js"></script>
    <script src="assets/js/plugins/wow/wow.min.js"></script>
    <script src="assets/js/contact_me.js"></script>
    <script src="assets/js/plugins/jqBootstrapValidation.js"></script>
    <!-- Vitality Theme Scripts -->
    <script src="assets/js/major.js"></script>
    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3818810.js"></script>
    <!-- End of HubSpot Embed Code -->
