<div id="f">
  <div class="container">
    <div class="row centered">
      <h2>Execute your project<br>Become a Partner<br>Build your skilled technical employee pipeline</h2>
      <!-- <p class="mt">
        <a href="#"><i class="ion-social-twitter"></i></a>
        <a href="#"><i class="ion-social-instagram"></i></a>
      </p> -->

      <h2><a href="https://docs.google.com/a/ennovar.wichita.edu/forms/d/e/1FAIpQLSfMwXIieoekVyVLRbEF6Hwq99uqeOlX95H9BdSkrOpXZg_BgQ/viewform">Contact Us</a></h2>
      <h2>316 978-5331</h2>
      <h2>ENNOVAR@WICHITA.EDU</h2>
      <h6 class="mt">COPYRIGHT <script>document.write(new Date().getFullYear())</script> - Ennovar at Wichita State University</h6>
    </div><!--/row-->
  </div><!--/container-->
</div><!--/F-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/retina-1.1.0.js"></script>

